@charset "UTF-8";


/*imacで見た時*/
/*トップページ*/

body {
    margin: 0;
}

/*メインビジュアルの大きさ*/
.mainvisual {
    width: 1280px;
    height: auto;
    margin: 0 auto;
}

.wrapper{
    min-height: 100vh;/*①高さの最小値*/
    position: relative;/*②相対位置*/
  }
  
/*メニューバー*/
nav {
    background:rgb(105, 105, 105);
    opacity: 0.9; /*メニューバーの背景を透過させる*/
    padding: 5px;
    box-sizing: border-box;
    /*メニューバーを上部に固定*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    padding: 0;
    justify-content: center; /*中央に配置*/
}

nav li {
    list-style: none;
    margin: 10px 30px;
}

nav a {
    display: block;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    color: pink;
} 


/*メインビジュアル*/
header img {
    width: 100%;
    height: auto;
}


/*記事の装飾*/
/*HELLO*/
.hello {
    padding: 245px 200px 245px; /*上　左右　下*/
}
.hello-box {
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255); 
	padding: 100px;  
    align-items: center; /*上下の中央に配置*/
}

.textbox {
    width: 700px; /*枠の横幅を固定*/
}

.hello01 {
    font-size: 90px; /*HELLOの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
}

.hello02 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.hello-text {
    background: #c4c4c4; 
    border-radius: 40px; /*角丸*/
    margin: 10px 50px 10px;
    padding: 10px;
}

.hello-text p {
    margin: 50px; /*枠内の文字周り*/
}


/*How to Use*/


.how-box {
    display: flex;
    justify-content: center;
    background: #c4c4c4; 
	padding: 100px; 
    align-items: center; /*上下の中央に配置*/
}

.how {
    padding: 245px 100px 245px;
}

.how-textbox {
    width: 700px; /*枠の横幅を固定*/
}

.how01 {
    font-size: 60px; /*HOW TO USEの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
}

.how02 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.how-text {
    background: rgb(255, 255, 255); 
    border-radius: 40px; /*角丸*/
    margin: 10px 50px 10px;
    padding: 10px;

}

.how-text p {
    margin: 50px;
}



/*リストページ*/
.list {
    padding: 200px 200px 100px 200px; 
}

.list01 {
    font-size: 60px; /*HELLOの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
    text-align: center;
}

.list02 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}



/*タブの装飾*/
.tab-group {
    margin-top: 20px;
    /* タブ全体の幅 */
    width: 100%;
    height: auto;
    list-style: none;
    text-align: center;
}

/*タブ部分の調整*/
.tab-button {
    list-style: none;
    /* カーソル形状を指先にする */
    cursor: pointer;
    padding: 50px;
    margin: 0;
}

/*タブを押したとき*/
.tab-button .is-active {
    background: #c4c4c4;
    border: 2px solid #c4c4c4;
    color: #FFF;
}

/*タブを押していないとき*/
.tab {
    width: 300px;
    border: 5px solid #c4c4c4; /*たぶ外線*/
    padding: 40px;
    margin: 20px;
    border-radius: 40px;

}

.tab-box {
    display: flex;
    justify-content: center;
}

.tab-contents {
    border-top: none;
    background: #ffffff;
}

/*コンテンツの調整*/
.content {
    display: none;
    padding: 50px;
    text-align: left;
}

/*タブの機能の中身の箱*/
.content.is-display {
    display: block;
    border: 2px solid #ffffff;
    height: auto;
    width: 1595px;
    margin: 0 auto; /*中央寄せ*/
}




/*場面別の画像*/
.text-img {
    /*background: pink;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    text-indent: -10px;/*←箇条点の位置をずらす*/
    width: 100%;
}

.text-img li {
	width: 20%;/*←画像を横に2つ並べる場合*/
	margin: 30px;
	box-sizing:border-box;
}

.text-img img {
    width: 100%;
    height: auto;
    margin: 10px;
}

.scene-text {
    text-align: center;
    font-size: 20px;
    margin: 0;
}




/*五十音検索*/

.j-name {
    text-align: center;
    font-size: 50px;
}


.j {
    /*background: pink;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    text-indent: -10px;/*←箇条点の位置をずらす*/
    width: 100%;
}


.j-word-box {
    display: flex;
    background: #fff;
    border: 0.25rem solid #c4c4c4;
    width: 100%;
    justify-content: center;
    border-radius: 20px;
    padding: 50px;
}

.j-word-minibox {
    margin: 20px;
}

.j-word {
    background: #c4c4c4;
    border-radius: 40px;
}

.j-word li {
    margin: 0;
}

.j-text {
    padding: 20px 50px;
    margin: 0;
}


a {
    text-decoration: none;
}


/*フッター*/
footer {
    background-color: black;
    width: 100%;
    height: 70px;
    color: rgb(105, 105, 105);
    text-align: center;
    padding: 20px 0px;
}










/*個別ページ*/

.page_visual {
    width: 1280px;
    height: auto;
    margin: 0 auto;
}


.article03 {
    width: 1280px;
    margin: 300px auto;
}


/*関連する言葉一覧*/

.related {
    padding: 245px 100px 150px;
}

.related01 {
    font-size: 60px; /*HOW TO USEの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
    text-align: center;
}

.related02 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

/*タグの調整*/
.related-words ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0px 100px 230px;
    list-style: none;
    text-indent: -10px;/*←箇条点の位置をずらす*/
}

.related-words li {
    border: 5px solid #c4c4c4;
    margin: 0px 30px 0px 0px;
    border-radius: 60px;
    font-size: 25px;
}

.related-words p {
    padding: 30px;
    margin: 0 auto;
}




/*辞書部分*/

.dictionary {
    background: #c4c4c4;
    padding: 10px 0px 100px 0px;
}

.dictionary-box {
    width: 100%;
}

.contents {
    background:rgb(255, 255, 255);
    border-radius: 0px 40px 40px 40px;
}

/*見出し*/
.word-wrap {
    background: rgb(105, 105, 105);
    padding: 10px;
    border-radius: 40px 40px 0px 0px;
}

.word01 {
    font-size: 60px; /*HOW TO USEの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
    padding: 40px 50px 0px 50px;
    text-align: center;
}

.word02 {
    font-size: 30px;
    margin: 0;
    padding: 0px 50px 40px 50px;
    text-align: center;
}

/*コンテンツの中身*/

.text01 {
    font-size: 30px; /*文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0px 50px 0px 50px;
    padding: 100px 50px 0px 50px;
}

.text02 {
    font-size: 30px;
    margin: 0px 50px 0px 50px;
    padding: 0px 50px 40px 50px;
}

.text-color {
    color: red;
}

.return-box {
    margin: 300px;
}

.return-button {
    background: black;
    width: 300px;
    text-align: center;
    border-radius: 40px;
    margin: 0 auto;
}

.return-button p {
    color: white;
    padding: 40px;
}






@media screen and (max-width: 2559px){
    .content.is-display {
        width: 1584px;
      }
}


/*PCサイズ*/
@media screen and (max-width: 1280px){
    .content.is-display {
        width: 1150px;
      }

      .text-img li {
        width: 200px;
      }
}



/*スマホサイズ*/
@media screen and (max-width: 844px){


    /*メニュー*/
    nav ul {
        display: block;
        padding: 0;
        justify-content: center; /*中央に配置*/
    }

    /*HELLO*/
    .article01 {
        display: block;
        background: rgb(255, 255, 255); 
        padding: 0;  
        align-items: center; /*上下の中央に配置*/
    }

    .hello {
        padding: 24px 20px 24px; /*上　左右　下*/
    }
    
    .hello01 {
        font-size: 5px; /*HELLOの文字サイズ*/
        font-weight: bold; /*太さ*/
        margin: 0;
    }
    
    .hello02 {
        font-size: 30px;
        margin: 0;
        text-align: center;
    }
    
    .hello-text {
        background: #c4c4c4; 
        border-radius: 40px; /*角丸*/
        margin: 10px 50px 10px;
        padding: 10px;
    }
    
    .hello-text p {
        margin: 50px; /*枠内の文字周り*/
    }



    /*HOW TO USE*/
    .article02 {
        flex-direction: column-reverse;
        display: flex;
        background: #c4c4c4; 
        padding: 100px; 
        align-items: center; /*上下の中央に配置*/
    }
    
    .how {
        padding: 24px 20px 24px;
    }
    
    .how01 {
        font-size: 5px; /*HOW TO USEの文字サイズ*/
        font-weight: bold; /*太さ*/
        margin: 0;
    }
    
    .how02 {
        font-size: 30px;
        margin: 0;
        text-align: center;
    }
    
    .how-text {
        background: rgb(255, 255, 255); 
        border-radius: 40px; /*角丸*/
        margin: 10px 50px 10px;
        padding: 10px;
    
    }
    
    .how-text p {
        margin: 50px;
    }
    
    
    /*リストページ*/
    /*文字*/
    .list {
        padding: 20px 20px 10px 20px; 
    }
    
    .list01 {
        font-size: 60px; /*HELLOの文字サイズ*/
        font-weight: bold; /*太さ*/
        margin: 0;
        text-align: center;
    }
    
    .list02 {
        font-size: 30px;
        margin: 0;
        text-align: center;
    }


    /*タブ部分の調整*/
    .tab-button {
        display: block;
        justify-content: space-between;
        list-style: none;
        /* カーソル形状を指先にする */
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

    .tab {
        margin: 0 auto;
        padding: 20px;
    }




    /*シーン*/
    .text-img li {
        width: 50%;/*←画像を横に2つ並べる場合*/
        margin: 0;
    }
    
    .text-img img {
        width: 100%;
        height: auto;
        margin: 10px;
    }
    
    .scene-text {
        text-align: center;
        font-size: 16px;
        margin: 0;
    }
    
    
    .content {
        padding: 10px;
    }
    

    /*フッター*/
    footer {
        height: 70px;
        color: rgb(105, 105, 105);
        padding: 0;
    }


}





