@charset "UTF-8";


/*imacで見た時*/
/*トップページ*/

body {
    margin: 0;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;

    /*背景を固定する*/
    background-image: url("images/background.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*戻るボタン*/
  #btn{
    position:fixed;
    bottom:30px;
    right:30px;
    cursor:pointer;
    width:100px;
    height:100px;
    border-radius: 50%;
  }


  /* ドット基本 */

  .box{
    width:500px;
    height:200px;
  }
.bg_dot{
    background-color: #fff;
    background-image:
      radial-gradient(#000000 30%, transparent 30%);
    background-size: 20px 20px;
  }




/*メインビジュアルの大きさ*/
 .mainvisual-box {
    background: white;
    padding: 100px 0px;

 }

.mainvisual {
    width: 1280px;
    height: auto;
    margin: 0 auto;
    background: white; /*メインビジュアルと次の記事の隙間を埋める*/
}

.wrapper{
    min-height: 100vh;/*①高さの最小値*/
    position: relative;/*②相対位置*/
  }
  
/*メニューバー*/
.nav-box {
    background:white;
    border-bottom: 3px solid black;
    border-radius: 43px;
    /*opacity: 0.9; メニューバーの背景を透過させる*/
    padding: 5px;
    box-sizing: border-box;
    /*メニューバーを上部に固定*/
    position: fixed;
    top: 0;
    left: 0;
    width: 700px;
    height: auto;
}



.nav-ul {
    display: flex;
    padding: 0;
    justify-content: center; /*中央に配置*/
}

nav li {
    list-style: none;
    margin: 10px 30px;
}

nav a {
    display: block;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: pink;
} 


/*メインビジュアル*/
header img {
    width: 100%;
    height: auto;
}


/*記事の装飾*/
/*HELLO*/
.hello {
    padding: 245px 200px 245px; /*上　左右　下*/
}
.hello-box {
    display: flex;
    justify-content: center;
    background: #51E4EC; 
	padding: 100px;  
    align-items: center; /*上下の中央に配置*/
}

.textbox {
    width: 632px; /*枠の横幅を固定*/
}

.hello01 {
    font-size: 90px; /*HELLOの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
    color: white;
}

.hello02 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    color: white;
}

.hello-text {
    background: white; 
    border-radius: 40px; /*角丸*/
    margin: 10px 50px 10px;
    padding: 10px;
}

.hello-text p {
    margin: 50px; /*枠内の文字周り*/
    font-weight: 700;
    font-size: 25px;
}


/*How to Use*/


.how-box {
    display: flex;
    justify-content: center;
    background: white; 
	padding: 100px; 
    align-items: center; /*上下の中央に配置*/
}

.how {
    padding: 245px 100px 245px;
}

.how-textbox {
    width: 700px; /*枠の横幅を固定*/
}

.how01 {
    font-size: 60px; /*HOW TO USEの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
}

.how02 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.how-text {
    background: #51E4EC; 
    border-radius: 40px; /*角丸*/
    margin: 10px 50px 10px;
    padding: 10px;

}

.how-text p {
    margin: 50px;
    font-weight: 700;
    font-size: 25px;
}



/*リストページ*/
.list-box {
    padding: 140px 57px;
    background-color: white;
    margin: 100px auto;
    width: 1100px;
    border-radius: 43px;
}



.list {
    padding: 0px 0px 50px 0px; 
}

.list01 {
    font-size: 100px; /*HELLOの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
    text-align: center;
}

.list02 {
    font-size: 50px;
    margin: 0;
    text-align: center;
}



/*タブの装飾*/
.tab-group {
    margin-top: 20px;
    /* タブ全体の幅 */
    width: 100%;
    height: auto;
    list-style: none;
    text-align: center;
}

/*タブ部分の調整*/
.tab-button {
    list-style: none;
    /* カーソル形状を指先にする */
    cursor: pointer;
    padding: 50px;
    margin: 0;
}

.tab-minibox {
    padding: 30px;
}

.tab-mini01 {
    font-size: 30px;
    margin: 0;
}

.tab-mini02 {
    font-size: 20px;
    margin: 0;
}


/*タブを押したとき*/
.tab-button .is-active {
    background: #51E4EC;
    border: 3px solid black;
    box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    color: black;
}

/*タブを押していないとき*/
.tab {
    width: 300px;
    background-color: white;
    border: 3px solid black; /*たぶ外線*/
    box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    margin: 20px;
    border-radius: 43px;

}

.tab-text {
    padding: 20px;
}

.tab-box {
    display: flex;
    justify-content: center;
}

.tab-contents {
    border-top: none;
    background: #ffffff;
}

/*コンテンツの調整*/
.content {
    display: none;
    text-align: left;
}

/*タブの機能の中身の箱*/
.content.is-display {
    display: block;
    border: 2px solid #ffffff;
    height: auto;
    width: 100%;
    margin: 0 auto; /*中央寄せ*/
}




/*場面別の画像*/
.text-img {
    /*background: pink;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    text-indent: -10px;/*←箇条点の位置をずらす*/
    width: 100%;
}

.text-img li {
	width: 200px;
	margin: 30px;
	box-sizing:border-box;
}

.text-img img {
    width: 100%;
    height: auto;
    margin: 10px;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0);
    border: solid 3px #000000;
    border-radius: 40px;
}

.scene-text {
    text-align: center;
    font-size: 20px;
    margin: 0;
    color: black;
}




/*五十音検索*/

.j-name {
    text-align: center;
    font-size: 50px;
    margin: 200px 0px 50px 0px;

}


.j {
    /*background: pink;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    text-indent: -10px;/*←箇条点の位置をずらす*/
    width: 100%;
}


.j-word-box {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background: #fff;
    width: 800px;
    border-radius: 20px;
}

.j-word-minibox {
    width: 350px;
    margin: 20px;
}

.j-word {
    background: white;
    border: 3px solid black;
    border-radius: 40px;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0);
    height: 100px;
}

.j-word li {
    margin: 0;
    padding: 10px 50px;
    text-align: center;
}

.j-text01 {
    font-size: 30px;
    margin: 0;
    color: black;
}

.j-text02 {
    margin: 0px;
    font-size: 15px;
    color: black;
}


a {
    text-decoration: none;
}


/*フッター*/
footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 20px 0px;
}










/*個別ページ*/

.page-visual-box {
    background: #51E4EC;
}

.page-text-box {
    text-align: center;
}

.page-text-box p {
    font-size: 100px;
    margin: 0px 0px 70px 0px;
}

.page-visual {
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 100px 0px;
}

.page-visual img {
    border: 3px solid black;
    border-radius: 34px;
}


.dictionary-box {
    width: 1100px;
    margin: 300px auto;
}


/*関連する言葉一覧*/

.related-box {
    background-color: white;
}

.related-minibox {
    padding: 200px 650px;
}



.related01 {
    font-size: 60px; /*HOW TO USEの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
    text-align: center;
}

.related02 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

/*タグの調整*/
.related-words ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: -10px;/*←箇条点の位置をずらす*/
}

.related-word-bigbox {
    padding: 100px 0px 0px 0px;
}

.related-word-box {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background: #fff;
    width: 100%;
    border-radius: 20px;
}

.related-word-minibox {
    margin: 20px;
}

.related-word {
    background: white;
    border: 3px solid black;
    border-radius: 40px;
    box-shadow: 10px 10px 0px 0px rgba(255, 104, 158, 1);
    height: 100px;
}

.related-word li {
    margin: 0;
    padding: 10px 50px;
    text-align: center;
}

.related-text01 {
    font-size: 30px;
    margin: 0;
    color: black;
}

.related-text02 {
    margin: 0px;
    font-size: 20px;
    color: black;
}




/*辞書部分*/

.dictionary {
    padding: 10px 0px 100px 0px;
}


.contents {
    background:rgb(255, 255, 255);
    border-radius: 0px 0px 40px 40px;
    padding: 10px 90px 70px 90px;
}

/*見出し*/
.word-wrap {
    background: white;
    padding: 90px;
    border-radius: 40px 40px 0px 0px;
}

.word01 {
    font-size: 60px; /*HOW TO USEの文字サイズ*/
    font-weight: bold; /*太さ*/
    margin: 0;
    text-align: center;
}

.word02 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

/*コンテンツの中身*/

.text01 {
    font-size: 35px; /*文字サイズ*/
    font-weight: 900; /*太さ*/
    margin: 0;
    padding: 0px 0px 10px 0px;
}

.text02 {
    font-size: 25px;
    margin: 0;
    padding: 0px 0px 10px 0px;
    color: #2d2d2d;
}

.text-color {
    color: rgba(255, 104, 158, 1);
    font-weight: 900;
}

.text-box {
    padding: 0px 0px 50px 0px;
}

.text-box ul {
    margin: 0px;
}

.text-box li  {
    font-size: 25px;
    color: #2d2d2d;
}





/*戻るボタン*/
.return-box {
    margin: 300px;
}

.return-button {
    background: white;
    width: 400px;
    text-align: center;
    border-radius: 40px;
    margin: 0 auto;
    border: 3px solid black;
    box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    padding: 30px;
}

.return-text01 {
    color: black;
    margin: 0;
    font-size: 30px;
}

.return-text02 {
    color: black;
    font-size: 20px;
    margin: 0;
}





/*大画面より小さいサイズ*/
@media screen and (max-width: 2559px){
    .content.is-display {
        width: 100%;
      }

      .related-minibox {
        padding: 200px 650px;
      }
}


/*PCサイズ*/
@media screen and (max-width: 1690px){
    .content.is-display {
        width: 100%;
      }

      .lisu-box {
        margin: 57px 57px 200px 57px;
      }

      .text-img li {
        width: 200px;
      }

     .page-visual {
        width: 500px;
        height: auto;
      }

      .related-minibox {
        padding: 200px;
      }
}




/*iPad横サイズ*/
@media screen and (max-width: 1660px){
    .mainvisual {
        width: 100%;
    }

    .hello {
        padding: 70px 70px 70px 50px;
    }

    .hello-box {
        padding: 250px 125px;
    }

    .hello-text {
        margin: 0;
    }


    .how {
        padding: 70px 50px 70px 70px;
    }

    .how-text {
        margin: 0;
    }

        
    .how-box {
        padding: 250px 125px;
    }
}





/*スマホ横サイズ*/
@media screen and (max-width: 1000px){


    /*メニュー*/
    nav ul {
        display: block;
        padding: 0;
        justify-content: center; /*中央に配置*/
    }

    /*HELLO*/
    .article01 {
        display: block; 
        padding: 0;  
        align-items: center; /*上下の中央に配置*/
    }

    .hello {
        padding: 24px 20px 24px; /*上　左右　下*/
    }
    
    .hello01 {
        font-size: 40px; /*HELLOの文字サイズ*/
        font-weight: bold; /*太さ*/
        margin: 0;
    }
    
    .hello02 {
        font-size: 20px;
        margin: 0;
        text-align: center;
    }
    
    .hello-text {
        border-radius: 40px; /*角丸*/
        margin: 10px 50px 10px;
        padding: 10px;
    }
    
    .hello-text p {
        margin: 50px; /*枠内の文字周り*/
    }



    /*HOW TO USE*/
    .article02 {
        flex-direction: column-reverse;
        display: flex;
        padding: 100px; 
        align-items: center; /*上下の中央に配置*/
    }
    
    .how {
        padding: 24px 20px 24px;
    }
    
    .how01 {
        font-size: 40px; /*HOW TO USEの文字サイズ*/
        font-weight: bold; /*太さ*/
        margin: 0;
    }
    
    .how02 {
        font-size: 20px;
        margin: 0;
        text-align: center;
    }
    
    .how-text {
        border-radius: 40px; /*角丸*/
        margin: 10px 50px 10px;
        padding: 10px;
    
    }
    
    .how-text p {
        margin: 50px;
    }

    .how-box {
        padding: 250px 0px;
    }
    
    
    /*リストページ*/
    /*文字*/
    .list {
        padding: 20px 20px 10px 20px; 
    }
    
    .list01 {
        font-size: 40px; /*HELLOの文字サイズ*/
        font-weight: bold; /*太さ*/
        margin: 0;
        text-align: center;
    }
    
    .list02 {
        font-size: 20px;
        margin: 0;
        text-align: center;
    }


    /*タブ部分の調整*/
    .tab-button {
        display: block;
        justify-content: space-between;
        list-style: none;
        /* カーソル形状を指先にする */
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

    .tab {
        padding: 0;
    }

    .tab-text {
        padding: 0px;
    }




    /*シーン*/
    .text-img li {
        width: 30%;/*←画像を横に2つ並べる場合*/
        margin: 0;
    }
    
    .text-img img {
        width: 100%;
        height: auto;
        margin: 10px;
    }
    
    .scene-text {
        text-align: center;
        font-size: 16px;
        margin: 0;
    }
    
    
    .content {
        padding: 10px;
    }
    

    /*フッター*/
    footer {
        height: 70px;
        color: rgb(105, 105, 105);
        padding: 0;
    }


}




/*iPad縦サイズ*/
@media screen and (max-width: 450px){

    .nav-box {
        width: 100%;
    }

    .article02 {
        padding: 0;
    }

    .hello-box {
        display: block;
        text-align: center;
        padding: 30px;
    }

    .textbox {
        margin: 0 auto;
        width: 100%;
    }

    .hello {
        padding: 100px 0px;
    }

    .how-box {
        flex-direction: column-reverse;
        padding: 30px;
    }

     .how {
        padding: 100px 0px;
     }

     .hello-text {
        margin: 0 auto;
     }

     .hello-text p {
        font-size: 20px;
        text-align: start;
     }

     .how-text {
        margin: 0;
        padding: 0;
     }

     .how-text p {
        font-size: 20px;
     }

     .how-text-box {
        margin: 50px;
     }

     .content.is-display {
        width: 100%;
        margin: 0;
        padding: 0;
     }

     .text-img {
        margin: 50px auto;
     }

     .text-img li {
        width: 150px;
        margin: 20px;
    }

    .list-box {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        margin: 150px auto;
        border-radius: 70px;
    }

    .tab {
        margin: 30px auto;
        border-radius: 30px;
    }

    .tab-mini01 {
        font-size: 20px;
    }

    .tab-mini02 {
        font-size: 15px;
    }

    .tab-box {
        display: block;
    }

    .tab-minibox {
        padding: 10px;
    }


    .j-word-box {
        display: block;
        width: 100%;
    }

    .j-word-minibox {
        margin: 20px auto;
        
    }

    .j-word {
        border: 2px solid black;
        border-radius: 30px;
        width: 100%;
        height: auto;
    }

    .j-word li {
        padding: 10px;
    }


    .j-text01 {
        font-size: 20px;
    }

    .list {
        padding: 100px 20px 50px 20px;
    }
}

